@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import './base/variables';
* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    max-width: 100%;
    height: 100%;
}

.wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

@import './block/header';
@import './block/button';
@import './block/firstscreen.scss';
@import './block/news';

