.btn{
    background-color: $main_orange;
    border: 2px solid $main_orange;
    border-radius: 5px;
    line-height: 60px;
    font-family: Roboto;
    font-size: 23px;
    padding: 0 42px;
    text-align: center;
    color: $font_white;
    cursor: pointer;
    transition: 0.5s ease;
    &:hover{
        background-color: #E39128;
        border-color: #E39128 ;
    }
    &:focus{
        background-color: #8F5613;
        border-color: #8F5613 ;
    }

    &_transparent{
        background-color: transparent;
        padding: 0 23px;
        line-height: 50px;
        transition: 0.5s ease;
        &:hover{
            background-color: $main_orange;
            border-color: $main_orange ;
        }
        &:focus{
            background-color: #8F5613;
            border-color: #8F5613 ;
        }
    }

}


