.firstscreen {
    padding-top: 200px;
    background: url(../img/bg-main.jpg) no-repeat 50%/cover;
    // background-position: top center;
    // background-size: cover;
    // background-repeat: no-repeat;
    min-height: 100vh; *
    // display: flex;
    // justify-content: start;
    // flex-direction: column;

    &-title{
        font-size: 48px;
        line-height: 72px;
        color: $main_orange;
    }
    &-descr{
        p{
            margin-top: 50px;
            width: 275px;
            font-size: 18px;
            line-height: 27px;
            color: $font_white;
        }
    }
    &-link{
        display: block;
        width: 160px;
        margin-top: 50px;
        text-decoration: none;
        font-family: Roboto;
    }

}
